<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Name="ClawHUD PresentMon Shared Runtime"
           Language="1033"
           Version="1.0.0.0"
           Manufacturer="ClawHUD"
           UpgradeCode="{4E9BE59E-7CC7-4F8F-BD00-22A44EC8B9A9}">
    <Package InstallerVersion="500"
             Compressed="yes"
             InstallScope="perMachine"
             Platform="x64" />

    <MediaTemplate EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="intel_folder" Name="Intel">
        <Directory Id="service_folder" Name="PresentMonSharedService">
          <Merge Id="PresentMonSharedServiceModule"
                 Language="1033"
                 SourceFile="$(var.PresentMonSharedServiceModule)"
                 DiskId="1" />
        </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="MainFeature" Title="PresentMon Shared Runtime" Level="1">
      <MergeRef Id="PresentMonSharedServiceModule" />
    </Feature>

  </Product>
</Wix>
